.home {
   display: flex;
}

.topPart {
   height: 530px;
   width: 100%;
   /* background: linear-gradient(90deg, #F8C23A 6.04%, #FDBD84 22.45%, #FF9BA1 39.39%, #FDBD81 57.15%, #F8C23A 69.86%);


   opacity: 0.65; */

   background: linear-gradient(
      30.11deg,
      #ffffff -11.43%,
      #ffee93 13.8%,
      #f0d7bf 47.62%,
      #95d1eb 86.69%
   );

   margin: auto;
   margin-top: 50px;
   text-align: center;
   padding-top: 100px;
}

.row {
   display: flex;
}
.secondRow {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 20px;
}

@media screen and (max-width: 767px) {
   .secondRow {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}
