@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Kaushan+Script&family=Meddon&family=Mr+Dafoe&family=Mr+De+Haviland&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.mainDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    /* background: linear-gradient(30.11deg, rgba(255, 255, 255, 0.2) 54.41%, rgba(255, 238, 147, 0.2) 72.74%, rgba(233, 255, 216, 0.2) 86.69%); */
    background: linear-gradient(30.11deg, rgba(255, 255, 255, 0.3) 54.41%, rgba(255, 238, 147, 0.3) 72.74%, rgba(233, 255, 216, 0.3) 86.69%);
    /* background-color: #fefefa; */
    /* background-color: #f5f5dc;
     */  
}

.drinkType {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Allison', cursive;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 80px;
    margin: 50px 0 0 0;
    color: dimgray;
}
.qoute {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Mr De Haviland', cursive;
    color: gray;
    font-size: 40px;
    margin: 0 10px 30px 10px;
}

/* default for laptop */
.listOfDrinks {
    display: flex;
    flex-wrap: wrap;
    font-size: 5px;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    margin: 0 75px 50px 75px;
}
/* for larger screens */
@media screen and (min-width: 3000px){
    .listOfDrinks{
        margin: 0 150px 50px 150px;
    }
    .drinkType {
        font-size: 120px;
    }
 
}
/* for laptops and dektops */
@media screen and (max-width: 1605px){
    .listOfDrinks{
        margin: 0 50px 30px 50px;
    }
}
@media screen and (max-width: 1366px){
    .listOfDrinks{
        margin: 0 40px 30px 40px;
    }
}

/* for ipad */
@media screen and (max-width: 1024px){
    .listOfDrinks{
        margin: 0px 30px 0px 30px;
    }
}
@media screen and (max-width: 768px){
    .listOfDrinks{
        margin: 0 20px 0px 20px;
    }
}
/* for mobiles */
@media screen and (max-width: 480px){
    .listOfDrinks{
        margin: 0 20px 0px 20px;
    }
    .quote{
        margin: 0 20px 0 20px;
        font-size: 30px;
    }
}








