/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

.Card1 {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    margin-bottom: 100px;
    margin-left: 50px;
}
.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}
.container1A {
    display: flex;
    justify-content: flex-start;
}
.container1B {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}


.card1_drinkName {
    /* font-family: 'Josefin', sans-serif; */
    font-weight: bolder;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    }

.drinkImage {
   
    max-width:400px;
    height: auto;
    border-radius: 50px;
    /* padding: 10px; */
    border: 5px solid white;
    filter: contrast(125%)

}
.sectionName {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 30px; */
}
.drinkIngredients {
    list-style-type: none;
    /* display:inline-block; */
    text-align: left;
}
.drinkMeasures {
    list-style-type: none;
}
.drinkCategory {
    margin-top: 20px;
    font-weight: light;
    font-style: italic;

}
.drinkInstructions {
    text-align: left;
}