.mainDiv {
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.3) 80%, rgba(255, 238, 147, 0.3) 10.74%, rgba(233, 255, 216, 0.3) 30.69%);
}


.loaderImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 60vh;
    width: auto;
}