@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Kaushan+Script&family=Meddon&family=Mr+Dafoe&family=Mr+De+Haviland&family=Sacramento&display=swap');


.logo{
  width: 70px;
  height: auto;
}

.pageName {
  
  
    display: flex;
    flex-wrap: nowrap;
    margin: 30px 0 30px 30px;
    font-size: 45px;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    /* font-family:  'Allison', cursive;; */
    font-weight: 700;
    text-transform: uppercase;
    background-color: #3AB795;
    /* background-color: #95D1EB;
  
  background-image: linear-gradient(
30.11deg
, #FFFFFF -11.43%, #e2d16f 13.8%, #F0D7BF 47.62%, #95D1EB 86.69%); */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pageName{
    display: inline-flex;
    flex-direction: row;
    margin: 30px 0 30px 30px;
    font-size: 40px;
}
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  .pageName{
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding-left: 10px;
    font-size: 30px;
}
.logo {
  width: 50px;
  height: auto;
}
}

@media screen and  (max-width: 400px) {
  .logo{
    display: none;
  }
  .pageName{
    /* display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding-left: 10px;
    font-size: 25px;
    
}
  
  
}


