.home {
   display: flex;
   flex-direction: column;
}

.topPart{
   height:50vh;
   width:100%;
   background: linear-gradient(90deg, #F8C23A 6.04%, #FDBD84 22.45%, #FF9BA1 39.39%, #FDBD81 57.15%, #F8C23A 69.86%);
   opacity: 0.77;
   margin:auto;
   text-align:center;
}

.bottomPart{
   height:50%;
   width:100%;
   background-color:#ECECEC;
   margin:auto;
   text-align:center;
   color:black;
}
