/* .home {
   display: flex;
   flex-direction: column;
} */

.topPart{
   /* height:55vh; */
   width:100%;
   background: linear-gradient(90deg, #F8C23A 6.04%, #FDBD84 22.45%, #FF9BA1 39.39%, #FDBD81 57.15%, #F8C23A 69.86%);
   opacity: 0.77;
   margin:auto;
   text-align:center;
   padding-top: 30px;
}

/* .bottomPart{
   height:50%;
   width:100%;
   background-color:#ffffff;
   margin:auto;
   text-align:center;
   color:black;
} */
.latestRow {
   margin-top: 75px;
   
   /* display: flex;
   flex-direction: row;
   margin-left: 30px; */
}

.secondRow {
   display: flex;
   flex-direction: row;
   
   
   
}